<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
     <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><a herf="home.html"></a><img src="../static/img/logo.jpg" height="110" width="115" alt="Logo"></div>
                <li> <a href="/" onclick="home.html">Home</a>
                </li>
                <li> <a href="/faq"  onclick="faq.html">FAQ</a>
                </li>
                <li> <a href="/base" onclick="base.html">Blog</a>
                </li>
                <li> <a href="/about" onclick="about.html">Contact</a>
                </li>             
        </ul>
    </nav>
</section>

<section class="secRight">
    <div class="sectionTag">
        <br>
        <br>
        <div class="container" style="padding-left: 300px ;">
            <h1 style="align-content: center;">Air Pollution</h1>
        </div>
        <br>
        <div class="secondimg">
            <img src="../static/img/chris-unsplash.jpg" width="786" height="512" alt="air pollution img">
        </div>
        <br>
        <br>
        <p>
            <br>
            What is a pollution?</b></p><p style="padding-top: 10px;"> It can be defined as, introduction of any substance (pollutants) which is changing the natural environment adversely.
        </P>
        <p class="sectionsubTag">Harmful gases like – Ammonia, Carbon Monoxide, Sulphur Oxide, Nitrous Oxides, Methane and 
             Chlorofluorocarbons causes damage to the air life breathes. As a result, it affects us (human beings), animal species as well as crops. In addition to that, it causes lung cancer, stroke, heart disease, allergies, respiratory infections and COPD.
        </p>
        <br>
<p class="facts">
<h2>Some concerning facts:</h2>
</p>
<p>
Consequently, it is indicated that 7 million humans die every year due to air pollution. Moreover, it is also the major environmental health risk worldwide. Alternatively, due to productivity losses and degraded quality of life, as a result of air pollution, the world economy suffers a cost of 5 trillion per year.
</p>
<br>
<p class="conclusion">
<h2>Conclusion</h2>
</p>
<p>
Earth is our home. All of us together can make this change. One change at a time, a little contribution at a time, an initiative at time, makes the difference. Everything counts. Let’s be aware on what we are consuming, how we are getting our stuff from, from where we are getting our stuff from? How can we be responsible towards our resources? Are we defining everything by industrial profit and power? What is economy? Sometimes, ignorance creates a huge negative impact indirectly on the environment. As all actions has some reaction (including ‘neutral’), we need to be responsible for our own actions. The actions taken today will have it’s consequences for tomorrow. What will happen to our future generations? Does the thought bothers you?
</p>
<br>
<h3>Suggestions:</h3>
<p>
<span class="popup-trigger popmark-214" data-popup-id="214" data-do-default="0">Suggest</span>
here.
<a herf="templates/about.html" target="blank" rel="noneferrer noopenner">Connect</a>
with us.
</p>
<br>
<h3>From the author :</h3>
<p>This article is in the process of everyday updation.</p>
<br>
<h3>Social Media</h3>
<h4>To Follow Us -</h4> 
<a href="https://www.facebook.com">Facebook</a>
<a href="https://www.facebook.com">instagram</a>
<a href="https://www.facebook.com">Twitter</a>
<a href="https://www.facebook.com">Koo</a>
</div>
</section>
 <footer>
        <div class="footer-content">
            <h3>VESIT</h3>
            <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            dolorum adipisci recusandae praesentium dicta!</P>
            <ul class="socials">
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="footer-bottom">
            <p> copyright &copy;2021 VESIT. designed by <span>VESIT Students</span></P>
        </div>
    </footer>
</body>
</html>