<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>FAQs|Frequently Asked Questions</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><a herf="home.html"></a><img src="../static/img/logo.jpg" height="110" width="115" alt="Logo"></div>
                <li> <a href="/" onclick="home.html">Home</a>
                </li>
                <li> <a href="/faq"  onclick="faq.html">FAQ</a>
                </li>
                <li> <a href="/base" onclick="base.html">Blog</a>
                </li>
                <li> <a href="/about" onclick="about.html">Contact</a>
                </li>             
        </ul>
    </nav>
<!-- MAIN CONTENT -->

<div id="section1" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px;color: rgb(228, 228, 228);">
    <h1>What is meant by Air Quality Index?</h1>
    <p>An air quality index (AQI) is used by government agencies to communicate to the public how polluted the air currently is 
      or how polluted it is forecast to become.</p>
  </div>
  <div id="section2" class="container-fluid" style="padding-top:70px;padding-bottom:70px;background-color: rgb(216, 216, 216);">
    <h1>Is air pollution a new problem?</h1>
    <p>Air pollution has been associated with humans for millennia, starting with the use of fire for cooking and warmth. Dangerously high levels of outdoor air pollution became a problem during the industrial revolution, where the massive use of coal gave rise to many episodes of serious urban air pollution.</p>
    <p>Continued reliance on fossil fuels through the 20th century saw air pollution increase as countries industrialized. In newly industrialised countries like China and India, this has led to extreme air pollution events, like those experienced in the past in the USA and Europe. However, new forms of cleaner and renewable energy, and the adoption of air quality regulations and management processes, are reducing reliance on some polluting fuels and practices. Beijing, once notorious for its air pollution problem, has in the last 20 years taken increasingly aggressive steps to reduce air pollution and its air quality has improved substantially.</p>
  </div>
  <div id="section3" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px;color: rgb(228, 228, 228);">
    <h1>Why is air pollution a priority issue?</h1>
    <p>Air pollution is all around us. Most people in the world live in areas with high levels of air pollution. It harms human health and wellbeing, reduces quality of life, and can negatively impact the economy. These impacts also disproportionately affect the most vulnerable people and communities.</p>
    <p>While the impacts on human health are the most pressing, air pollution also significantly impacts several different types of ecosystems and it reduces crop yields and the health of forests. It also reduces atmospheric visibility and increases corrosion of materials, buildings, monuments and cultural heritage sites, and causes acidification of sensitive lake ecosystems.</p>
    <p>From past and current experience, we know that air pollution is preventable, and as the examples show, reducing air pollution will provide additional benefits like healthier and more productive lives, a healthier natural environment, poverty alleviation and increased shared prosperity.</p>
  </div>
  <div id="section4" class="container-fluid" style="padding-top:70px;padding-bottom:70px;background-color: rgb(216, 216, 216);">
    <h1>What is the inpact of air pollution on human health?</h1>
    <p>The air pollutant of greatest concern for human health is fine particulate matter. This has a diameter of 2.5 micrometres or less, also known as PM2.5. These fine particles are invisible to the human eye and 40 times smaller than the width of a human hair. They can do a lot of damage to our bodies. These particles are small enough to penetrate deep into our lungs, where they cause inflammation of sensitive lung tissue and can pass into the blood stream, affecting organs like the heart and brain. The WHO estimates that exposure to PM2.5 causes 7 million premature deaths annually.</p>
    <p>Some immediate health effects of air pollution exposure include irritation of the eyes, nose and throat, shortness of breath, cough, and exacerbation of pre-existing conditions, like asthma attacks, and chest pain. Age, pre-existing conditions, other risk factors for disease and sensitivity to the pollutant, can all affect how a person reacts to a pollutant.</p>
  </div>
  <div id="section5" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px;color: rgb(228, 228, 228);">
    <h1>Is there a link between poor health quality and worse health outcomes from COVID-19?</h1>
    <p>The potential links between exposure to poor air quality and susceptibility to the impacts of COVID-19 are being investigated by the health and scientific community. Air pollution is known to have detrimental effects on the respiratory and cardiovascular systems, as well as impacts on other diseases that have been shown to raise the risk of COVID-19 severity. It is crucial to consider improved air quality as an additional measure, to help reduce the burden placed on people’s health, as well as healthcare systems.</p>
    <p>As our understanding of these links improve, it is even more important to commit to long-term sustainable energy, environmental policies and standards implementation. Despite the acute challenge of this global pandemic, we cannot allow it to compromise our efforts to tackle the world’s inescapable, linked, and ongoing challenges of climate change, poor air quality, unsustainable development and the loss of biodiversity.</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <footer>
        <div class="footer-content">
            <h3>VESIT</h3>
            <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            dolorum adipisci recusandae praesentium dicta!</P>
            <ul class="socials">
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="footer-bottom">
            <p> copyright &copy;2021 VESIT. designed by <span>VESIT Students</span></P>
        </div>
    </footer>
</body>
</html>