<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css"> <!-- stylesheet changed-->
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css" />
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 
    <style>
      #map{ height: 740px; }
    </style>
    <title></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
          <img src="../static/img/logo.png" alt="" width="50" height="40">
          VESIT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/faq">FAQ</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/base">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">Contact Us</a>
              </li>
              <li class="nav-item">
                <button class="nav-link active bg-white btn-outline-light" aria-current="page" onclick="statcity()" href="/stat">Show Statistics</button>
              </li>
            </ul>
            <form class="d-flex" method="GET">
              <input class="form-control me-2" id="mcity" placeholder="Search" >
              <button class="btn btn-outline-success" type="button" onclick="mapCity()">Search</button>
            </form>
          </div>
        </div>
      </nav>
  <body>
         <div id="map" ></div>
         <img src="../static/img/" alt="image map example" width=500 height=332 usemap="map">

            <!-- Map config -->
            <script>
    var urlString = window.location.href;
    var url = new URL(urlString);
    var c = url.searchParams.get("city");
    var dm = [];
   var long
    fetch(`https://api.waqi.info/feed/${c}/?token=a42ad4ead161a4d22b47dc6df77161af336ae8ba`)
    .then(response=>{
       console.log(response) 
       return response.json()})

    .then(data=>{
        console.log(data.data.city.geo, 'city data');
        dm.push(data.data.city.geo[0])
        dm.push(data.data.city.geo[1])
        var OSM_URL='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var OSM_ATTRIB = '&copy;<a href="http://openstreetmap.org/copyright">OpenStreetMap</a>contributors';
            var osmLayer= L.tileLayer(OSM_URL,{attribution:OSM_ATTRIB});
            var WAQI_URL="https://tiles.waqi.info/tiles/usepa-aqi/{z}/{x}/{y}.png?token=token=a42ad4ead161a4d22b47dc6df77161af336ae8ba";
            var WAQI_ATTR='AirQualityTiles&copy;<a href="http://waqi.info">waqi.info</a>';
            var waqiLayer = L.tileLayer(WAQI_URL,{attribution:WAQI_ATTR});
            var map = L.map('map').setView([dm[0], dm[1]], 12);
            map.addLayer(osmLayer).addLayer(waqiLayer);
    })
            </script>
            <script>
             function mapCity()
             {
                      // e.preventDefault();
        var city3 = document.getElementById("mcity").value;
        console.log(city3);
        window.location.href = "map.html?city=" + city3;
             }
             function statcity()
    {
        var c = url.searchParams.get("city");
        window.location.href = "stat.html?city="+c;
    }
            </script>
        </body>
        </html>

</body>
</html>